html, body {
    /* background-color: rgb(37,1,77); */
    /* background: linear-gradient(143deg, rgba(37,1,77,1) 50%, rgba(171,8,193,1) 100%, rgba(46,230,131,1) 0%); */
    /* width: 100vw;
    height: 100vh; */
    background-color: #9f0db6;
    margin: 0px;
}